body{
    background-color: #4E77FC;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    margin-top: 100px;
    background-color: #E6E093;
    height: 155px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

    #logoL{
        float: left;
        width: 500px;
    }

    #logoR{
        float: left;
        font-family: 'PT Serif Caption', serif;
        padding: 20px;
        font-size: 16px;
        text-align: right;
    }

#menu{
    width: 990px;
    padding: 5px;
    background-color: #E6E093;
    border-top: 2px dotted #1b44b9;
    border-bottom: 2px dotted #1b44b9;
    font-family: 'PT Serif Caption', serif;

}

    .option{
        color: #000000;
        text-decoration: none;
        display: block;
        width: 178px;
        padding: 10px;
        float: left;
        height: 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    }

    .option:hover{
        background-color: #D5D082;
    }

#content{
    background-color: #E6E093;
    width: 758px;
    padding: 20px;
    border-right: 2px dotted #1b44b9;
    float: left;
    min-height: 600px;
    font-size: 18px;
    text-align: justify;
}

    .title{
        font-family: 'PT Serif Caption', serif;
        font-size: 30px;
        color: #233A6E;
        text-align: center;
        border-bottom: 1px dotted #1b44b9;
        margin-bottom: 15px;
    }

#rightbar{
    float: left;
    width: 180px;
    padding: 10px;
    background-color: #E6E093;
    min-height: 620px;


}

    #rightbarU {
        height: 100px;
        background-color: green;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #rightbarD{
        font-size: 16px;
        margin-top: 15px;
    }
        #news{
            font-family: 'PT Serif Caption', serif;
            background-color: #D5D082;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 19px;
            padding: 5px;
        }

        .news{
            font-size: 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            background-color: #F7F1A4;
            margin-top: 5px;
        }

#siteend{
    background-color: #E6E093;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 50px;
    clear: both;
}

#border{
    width: 798px;
    height: 50px;
    border-right: 2px dotted #1b44b9;
}
#footer{
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #4E77FC;
    margin-bottom: 85px;
}

